/* 幻燈片的空間 */
.slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
    }
    
    /* 上、下張的按鈕 */
    .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(56, 53, 53);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    }
    
    /* 定位下一張的按鈕 */
    .next {
    right: 0;
    border-radius: 3px 0 0 3px;
    }
    
    /* 在切換的時候 會看到一下子的背景*/
    .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    }
    
    /* 標題的字 */
    .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    }
    
    /* 顯示第幾張 (1/3、2/3 等) */
    .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    }
    
    /* 標記符號 */
    .dot {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    }
    
    .active, .dot:hover {
    background-color: #717171;
    }
    
    /* 淡出動畫 */
    .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    }
    
    @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
    }
    
    @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
    }
    /*幻燈片*/